div.group-card {
  padding: 25px 20px;
  background-color: #27292C;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  max-width: 750px;
  margin-bottom: 30px;
}

div.group-card div.head {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

div.group-card div.head div.club {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

div.group-card div.head div.club img {
  margin-right: 15px;
}

div.group-card div.head div.club div.content {
}

div.group-card div.head div.club div.content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

div.group-card div.head div.club div.content h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3FC7F1;
  font-weight: 400;
}

div.group-card div.head button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #7289DA;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
  font-weight: 600;
}

div.group-card p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
}