div.game-title{
    h1 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 200px;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 6px;

        color: #FFFFFF;
    }
}