
div.games-content {
  padding: 50px 90px;
  background-color: #1C1E21
}


div.games-content div.title{
  flex-wrap: nowrap;
  flex: 1;
  align-items: center;
  margin-top: 0px;
}

div.games-content div.title h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 40px;
}

div.games-content div.container {
  display: flex;
  flex-direction: row; 
}


div.games-content div.container div.games div.g1 div.g1_img{
  position: absolute;
  width: 162px;
  height: 216px;
  left: 340px;
  top: 210px;
  border-radius: 8px;
}

div.games-content div.container div.games div.g1 div.g1_text h1{
  position: absolute;
  width: 125px;
  height: 36px;
  left: 340px;
  top: 430px;
  
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;
}

div.games-content div.container div.games div.g2 div.g2_img{
  position: absolute;
  width: 162px;
  height: 217px;
  left: 533px;
  top: 210px;
  border-radius: 8px;
}

div.games-content div.container div.games div.g2 div.g2_text h1{
  position: absolute;
  width: 125px;
  height: 36px;
  left: 533px;
  top: 430px;
  
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;
}