main.group-template {
    margin-left: 25px;
  
    h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
  
    input {
      margin-bottom: 15px;
      background-color: rgb(64, 64, 64);
      width: 100%;
      padding: 4px 8px;
      box-sizing: border-box;
      border: 2px solid rgb(64, 64, 64);
      border-radius: 4px;
      color:rgba(255, 255, 255, 0.8);
    }
  
    textarea {
      margin-bottom: 15px;
      background-color: rgb(64, 64, 64);
      width: 100%;
      padding: 4px 8px;
      box-sizing: border-box;
      border: 2px solid rgb(64, 64, 64);
      border-radius: 4px;
      color:rgba(255, 255, 255, 0.8);
      height: 100px;
      resize: vertical;
    }
  
    button {
      background-color: rgb(63, 199, 241);
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 600;
      border: none;
      color: rgb(0, 0, 0);
      padding: 8px 16px;
      border-radius: 4px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
  }
  