div.root div.app {
  padding: 50px 90px;
  background-color: #1C1E21
}

div.root div.app div.container {
  display: flex;
  flex-direction: row; 
  margin-top: 90px;
}

main.home-contents {
  margin-left: 100px;
}

div.root div.app div.intro-img {
  margin-left: 32px;
}

div.root div.app div.intro-img img {
  width: 100%;
}

div.root div.app div.intro-text {
  text-align: center;
}

div.root div.app div.intro-text h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 30px;
}

div.root div.app div.intro-text h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

div.root div.app div.intro-text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 800px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 25px;
}


div.root div.app div.rectangle {
  width: 120px;
  height: 10px;
  background: #3A53A5;
}

