aside {
  border-left: 3px solid white;
  
  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 50px;
    text-decoration: none;
    
    img {
      margin-right: 30px;
      margin-left: 35px;
    }
  }
}
