div.app aside div.sidebar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 50px;
  
}

div.app aside div.sidebar a img {
  margin-right: 30px;
  margin-left: 35px;
}

div.app aside div.sidebar{
    border-left: 3px solid white;
}